*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    overflow-x: hidden;
    max-width: 100%;
}

li, a, button{
    font-family: calibri;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    text-decoration: underline solid #130758 3px;

}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1px 10%;
}

hr {
    border: none; /* Remove default border */
  height: 4px; /* Set the height of the hr */
  background: linear-gradient(to left, #09578f, #100551);
  }

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(28, 103, 189)
}

button {
    color: white;
    padding: 10px 25px;
    background-image: linear-gradient(to bottom left,#024F85,#100551);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

button:hover {
    background-color: rgb(28, 103, 189);
}


body {
    background-color: rgb(230, 230, 230);
}

.Top {
    max-width: 100%;
    height: 583px;
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 3%;
    background-color: rgba(255, 255, 255, 0.885);
    background-image: url(Construct1.jpg);
    background-attachment: fixed;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Top div{
    justify-content: center;
    font-family: calibri;
    font-weight: 200;
    font-size: 20pt;
    color: #073571;
    text-shadow: -.2px .2px 0 #000,
                .2px .2px 0 #000,
                .2px -.2px 0 #000,
                -.2px -.2px 0 #000;
}

h1 {
    font-size: 30pt;
}


.middle {
    max-width: 100%;
    height: 583px;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.middle div {
    flex-wrap: nowrap;
    padding: 25px 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
    word-spacing: 5px;
    font-family: calibri;
    font-weight: 200;
    color: #073571;
    text-shadow: -.2px .2px 0 #000,
                .2px .2px 0 #000,
                .2px -.2px 0 #000,
                -.2px -.2px 0 #000;
}

.bot_top {
    padding: 48px 15%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 142, 127);
    max-width: 100%;
    height: 437.25px;
}

.bot_top div {
    display: inline-block;
    padding: 0px 40px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
